* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

h1 {
    margin: 0;
    font-size: 2em;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.show-products, .add-product {
    width: 45%;
}

.add-product-form {
    width: 80%;
    margin: 0 auto;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "product product edit"
    "product product delete";
    gap: 1rem;
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="number"], textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.edit-button {
    grid-area: edit;
    background-color: #9f7528;

    &:hover {
        background-color: #805f22;
    }
}

.delete-button {
    grid-area: delete;
    background-color: #b02e2e;

    &:hover {
        background-color: #802323;
    }
}

.product-info {
    grid-area: product;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
}